body
{
font-family:calibri;
margin:0;
padding:0;
}


ul {
list-style-type: none;
margin: 0;
padding:0 ;
overflow: hidden;
}

li {
float: left;
}

.menubarclass:link, .menubarclass :visited {
display: block;
width: 100%;
font-weight: bold;
color: #FFFFFF;
background-color: #003366;
text-align: center;
padding: 35px;
text-decoration: none;
text-transform: uppercase;

}

.menubarclass:hover
{
background-color: #FF6633;
}

.menubarclass:active {
background-color:#FF6633;
}


	
#MenuBar
{
width:100%;
height:80px;
background:#003366;
font-size:22px;
font-weight:bold;
text-align:center;
}
/* Unvisited Links */
a:link{
color:white;
}

/* Visited links */
a:visited
{
color:white;
}

#menu1,#menu2,#menu3,#menu4,#menu5
{
width:20%;
height:80px;
float:left;
}


#Middle
{
width:100%;
height:450px;

}

#leftmiddle
{
width:70%;
height:450px;
float:left;
padding:0;
margin-left:5px;
}

#fieldset
{
color:#FF6633;
border:1px solid #FF6633;
width:100%;
height:400px;
font-weight: bold;
font-size: 14px;
border: 1px solid #1A3366;
background:; border: 1px solid #009;
border-radius: 10px;
box-shadow: 1.5px 1.5px 2px rgba(50, 50, 50, 0.75);
float:right;
  


}

#rightmiddle
{
width:25%;
height:450px;
float:right;
padding:0;
}

#TextDiv
{
width:100%;
height:100px;
color:#FF6633;  
margin-left:10px;
font-size:20px;
}


#Bottom  /*Note- divs One to Five below are inside this div*/
{
width:100%;
height:150px;

}

	
#one
{
width:20%;
height:150px;
background:#1A3366;
line-height:8px;
color:#FF6633;
font-weight:bold;
font-size:15px;
text-align:center;
float:left;
}

#one img{
display: block;
margin-left: auto;
margin-right: auto;
}

#two
{
width:20%;
height:150px;
background:#1A3366;
line-height:8px;
color:#FF6633;
font-weight:bold;
font-size:15px;
float:left;
}

#three
{
width:20%;
height:150px;
background:#1A3366;
line-height:8px;
color:#FF6633;
font-weight:bold;
font-size:15px;
float:left;
}

#four
{
width:20%;
height:150px;
background:#1A3366;
line-height:8px;
color:#FF6633;
font-weight:bold;
font-size:15px;
float:left;
}

#five
{
width:20%;
height:150px;
background:#1A3366;
line-height:8px;
color:#FF6633;
font-weight:bold;
font-size:15px;
float:left;
text-align:center;
}

#five img{
display: block;
margin-left: auto;
margin-right: auto;
}

#final
{
width:100%;
height:50px;
background:	#00143D;
font-family:calibri;
color:#FF6633;
font-weight:bold;
text-align: center;
font-size:13px;
}

#par1
{
color:#FF6633;
font-weight:bold;
font-size:20px;

}

#par2
{
color:#FF6633;
font-size:16px;
}


.newsletterentry
{
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border:1px solid #00143D;
padding:5px;

}

.newsletterbutton
{
background:;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border: 1px solid #00143D;
padding: 5px;
font-size:13px;
}

.newsletterbutton:hover{
 background:#FF6633;
}







