body
{
font:orange;
}



#MenuBar
{
width:100%;
height:90px;
background:;

}

#MenuBar li.active a {
background: #FF6633;
}

#Separator1
{
width:100%;
height:20px;
}

#Middle
{
width:100%;
height:450px;
/*background:#FFFFFF;
*/
}

#Separator2
{
width:100%;
height:20px;
}

#Bottom
{
width:100%;
height:200px;
background:#003366;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
 float: left;
 }

a:link, a:visited {
display: block;
width: 200px;
font-weight: bold;
color: #FFFFFF;
background-color: #003366;
text-align: center;
padding: 35px;
text-decoration: none;
text-transform: uppercase;
}

a:hover, a:active {
background-color: #FF6633;
}



