body
{
background-color:#EDEDF3;
font:orange;

}

#MenuBar
{
width:100%;
height:125px;
background:;

}

#Home
{
width:25%;
height:100px;
background:yellow;
float:left;

}

#AboutUs
{
width:25%;
height:100px;
background:red;
float:left;
}

#OurServices
{
width:25%;
height:100px;
background:blue;
float:left;
}

#ContactUs
{
width:25%;
height:100px;
background:green;
float:left;
}


#Middle
{
width:100%;
height:400px;
background:#FF6633;
}

#Bottom
{
width:100%;
height:200px;
background:#003366;
}



