body
{
background-color:#EDEDF3;
font:orange;

}

#MenuBar
{
width:100%;
height:90px;
background:;
}

#Middle
{
width:100%;
height:550px;
background:#FF6633;
}

#Bottom
{
width:100%;
height:200px;
background:#003366;
}



